{% extends 'base.html' %}

{% block title %}Общение{% endblock %}

{% block body %}
<div class = "container mt-5">
    <h1>Здравствуйте, {{ Master.name }}!</h1>
    <hr>
    <h2>Отправьте сообщение:</h2>
    <form method="post">
        <input type = "text" name="username" id="username" class = "form-control" value="{{ Master.name }} {{Master.surname}}" placeholder="Введите своё имя"><br>
        <input type = "text" name="email" id="email" class = "form-control" value="{{ Master.email }}"placeholder="Введите свой e-mail для обратной связи"><br>
        <textarea name="message" id="message" class = "form-control" placeholder="Введите своё сообщение"></textarea><br>
        <input type="submit" class = "btn btn-success" value="Отправить"><br>
    </form>
    <hr>
    <h1>Форум сайта</h1>
    <hr>
    {% if messages|length > 0 %}
        {% for message in messages %}
        <div class="alert alert-success">
            <h3>Время отправки: <b>{{ message.time }}</b></h3>
            <h3>ID сообщения: <b>{{ message.id_Msg }}</b></h3>
            <h3 class="alert-heading">Имя отправителя: <b>{{ message.username }}</b></h3>
            <h3>Email отправителя: <b>{{ message.email }}</b></h3>
            <hr>
            <h3>Текст сообщения: <b>{{ message.message }}</b></h3>
            <a class="btn btn-danger" href="/chat-master/{{ message.id_Msg }}/{{ Master.id_M }}/delete">Удалить</a>
        </div>
        {% endfor %}
    {% else %}
        <h3>Сообщений на форуме ещё нет. Добавьте своё!</h3>
    {% endif %}

</div>
{% endblock %}